body {
    background: rgb(192, 190, 190);
}
.vendingMachine {
    background: orange;
    display: flex;
    justify-content: center;
    position: relative;
    width: 688.88px;
}

.vendingMachineBody {
    margin-left: 25%;
    margin-top: 5%;
}

.VendingMachineItems {
    border: 3px solid black;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto ;
    background: orange;
    width: 955px;
}

.gridItem {
    background: rgba(255,255,255, 0.8);
    border: 1px solid rgba(0,0,0,0.8);
    font-size: 30px;
    text-align: center;
}

.vendingMachineMenu {
    width: 150px;
    border: 3px solid black;
    justify-content: center;
    background-color: orange;
}

.addMoneyButton {
    width: 142px;
}


tr:nth-child(even) {
    background-color: #dddddd;
}

.selectAnimation {
    width: 100px;
    height: 100px;
    background: white;
}

.vendingMachineMenuSelect input{
    width: 100%;
    border: 2px solid black;
}

.selectAnimation {
    width: 100%;
    padding-left: 15px;
    border: solid 2px black;
}


.selectItem {
    display: flex;
}

.select{
    display: flex;
    text-align-last:center;
}

.selectItemByLetter {
    width: 73.5px;
}

.selectItemByNumber {
    width: 70.2px;
}

.orderButton {
    width: 144px;
    background-color: gray;
    font-size: 20px;
}

.vendingMachineMenuPay {
    margin-top: 100px;
    border: solid 1px black;
}

.vendingMachineMenuPay input {
    width :143px;
}

.buyButton {
    width: 143.5px;
}

.dollarSymbol{
    position: absolute;
    margin-top: -29px;
    margin-left: 130px;
    font-size: 19px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.payAnimation {
    background: white;
}

h1 {
    font-family: fantasy;
}


body {
    background-color: blueviolet ;
}




