<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
    <a href="items">Go back</a>
    <script type = "text/javascript">
        function validateForm()  {
            var name = document.getElementById("name").value;
            var amount = document.getElementById("amount").value;
            var price = document.getElementById("price").value;

            if(name== "") {
                alert("Please enter item name");
                return false;
            }
            if(amount <=0) {
                alert("Please enter item amount");
                return false;
            }
            if(price <=0) {
                alert("Please enter item price")
                return false;
            }

            alert("All datas are valid!")

            return true;
        }
    </script>
</head>
<body>
<form id="form"  name="myForm" onsubmit = "return validateForm()" action="#" th:action="@{/add-item}" th:object="${item}" method="post">
    <label for="name">Name</label>
    <input name="name" type="text" th:field="*{name}" id="name" placeholder="Name">

    <label for="amount">Amount</label>
    <input name="amount" type="number" th:field="*{amount}" id="amount" placeholder="Amount">

    <label for="price">Price</label>
    <input name="price" type="number" th:field="*{price}" id="price" placeholder="Price">

    <input  type="submit" value="Add item">
</form>
</body>
</html>