<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link href="../static/styles/zeroStyle.css" th:href="@{styles/zeroStyle.css}" rel="stylesheet">
    <link href="../static/styles/style.css" th:href="@{styles/style.css}" rel="stylesheet">
    <script type = "text/javascript">
        function validateForm()  {
            var bankMoney = document.getElementById("money").value;
            if(bankMoney<=0) {
                alert("Please enter dollars");
                return false;
            }
            alert("All datas are valid!")
            return true;
        }
    </script>
</head>
<body>
<div th:switch="${items}">
    <h2 th:case="null">items not found!</h2>
    <div th:case="*">
        <h1>Vending Machine</h1>
        <div class="adminPanel">
           <div class="adminPanelButton"> <a href="/add-item">Add item</a> </div>
           <div class="adminPanelButton"> <a href="/vending-history">See raports</a> </div>
        </div>
        <div class="vendingMachineBody">
            <div class="vendingMachine">
                <div class="VendingMachineItems">
                    <div class="gridItem" th:each="item,itemStat : ${items}"  th:value="${item.id}">
                        <a th:href="@{item-delete/{id}(id=${item.id})}"> <p th:text="${item.name}"><p th:text="${item.price}"><p th:text="${item.amount}"></p></a>
                    </div>
                </div>
                <div class="vendingMachineMenu">
                    <div class="vendingMachineMenuSelect">
                        <div class="selectAnimation"><iframe src="https://giphy.com/embed/XVe4e1jA1KjSwccKsg" href="#" width="120" height="90" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
                        <div class="orderButton"><h3>Buy by press on item</h3></div>
                    </div>
                    <div class="vendingMachineMenuPay">
                        <div class="payAnimation"><iframe src="https://giphy.com/embed/3qIc6TFP05B7y0CylW" width="120" height="40" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/money-dollar-sign-3qIc6TFP05B7y0CylW"></a></p></div>
                        <form th:action="@{/accounts}" onsubmit = "return validateForm()" th:object="${bankAccount}" method="post">
                            <input type="number" id="money"   name="money">
                            <button class="addMoneyButton"   type="submit">Add</button>
                        </form>
                    </div>
                       <div class="moneyDisplay">
                           <h3>You sold is</h3>
                           <h3  class="moneyDisplay" th:text="${bankAccount.money} % 1 == 0? ${bankAccount.money} :${#numbers.formatDecimal(bankAccount.money, 1, 2)}"></h3>
                       </div>
                        <div class="takeMoney">
                            <a class= "takeMoneyDisplay" th:href="@{/deleteMoney}">take money</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>